/* Colors
-dark-primary-color  #303f9f;
-deault-primary-coloe #3f51b5;
-light-primary-color  #c5cae9;
-text-primary-color   #ffffff;
-accent-color #ff5722;
-primary-text-color #212121;
-secondary-text-color #757575;
-divider-color #bdbdbd;
*/
html{
  background-color: #303f9f;
}

body{

}

.container-fluid{
min-height: 600px;
text-align: center;

}

.row{

}



.col-9{
  background-color: #3f51b5;
 min-height: 600px;
}

.col-3{
  background-color: #3f51b5;

  width: 0px;
	height: 0;
	border-left: 60px solid transparent;
	border-right: 0px solid transparent;
	border-bottom: 636px solid #303f9f;


}

.row-12{
  background-color: #3f51b5;
  height: 180px;
}

.text-row{
  text-align: left;
}

.nav{
  background-color: #3f51b5;
  height: 50px;
}

.search{

}

.footer{
  height: 20px;
  background-color: #3f51b5;
  color: gray;
}
