/* Colors
-dark-primary-color  #303f9f;
-deault-primary-coloe #3f51b5;
-light-primary-color  #c5cae9;
-text-primary-color   #ffffff;
-accent-color #ff5722;
-primary-text-color #212121;
-secondary-text-color #757575;
-divider-color #bdbdbd;
*/
html{
  background-color: #303f9f;
  font-size: 1rem;
}


body{
background-color: #3f51b5;
}

.container-fluid{
min-height: 100%;
width: 100%;
text-align: center;


}

.row{

}



.col-9{
  background-color: #3f51b5;
 min-height: 100%;
 width: 75%;
}

.col-3{
  background-color: #3f51b5;

  width: 0px;
	height: 0;
	border-left: 60px solid transparent;
	border-right: 0px solid transparent;
	border-bottom: 636px solid #303f9f;


}

.row-12{
  background-color: #3f51b5;
  height: 180px;
}

.text-row{
  text-align: left;
    padding-left: 145px;
    height: 230px;
   padding-top: 100px;
   font-size: 5vw;
   font-family: 'Montserrat', sans-serif;

}


.nav{
  background-color: #3f51b5;
  height: 30px;
  width: 80%;
  margin-top: 20px;
  font-size: 20px;
  float: left;
  font-family: 'Roboto', sans-serif;

}

.nav ul li{
  float: left;
  list-style: none;
  padding-right: 40px;


}


.nav a{
  background-color: #303f9f;
  color: #1a1a1a;
  padding: 10px 22px 10px 22px;
 border-radius: 3px;
 margin-bottom: 10px;
  font-size: 1.5vw;
}

 .nav .text-secondary a:hover{
   color: white;
 }

.nav a:hover{
  text-decoration: none;
  cursor: pointer;
  color: #ffffff;
  background-color: #ff4500;
  border-radius: 3px;
  display: flex;
  font-size: 1.5vw;
}

.menu{
  padding-left:20px;
  padding-top: 20px;
}


.search{
height: 60px;
width: 600px;
padding-top: 20px;
padding-left: 150px;

}
.btn-outline-light .btn{
  float: left;
}

.button1{
  width:100px;
  float: right;

}


.footer{
  height: 20px;
  background-color: #3f51b5;
  color: gray;
}


.movie2 > img {
  margin-top: 10px;
  border: 10px solid #303f9f;
  margin-right: 20px;
  margin-left: 10px;

}

.movies{
  height: 130px;
  padding-top: 50px;
}

.movies img{

  border-radius: 50%;
  height: 190px;
  width: 190px;
  float: left;
  ;
  border: 10px solid #303f9f;

}

.result{
  width: 25%;
  margin-left: 10px;
  float: left;
  margin-right: 10px;
  text-align: center;
}

b {
  margin-right: 65px;
}


*{
  margin: 0;
  padding: 0;
}

.img-circle {
    border-radius: 50%;
    height: 220px;
    width: 220px;
    float: left;
    margin-left: 70px;
    border: 10px solid #303f9f;
}
